<!-- Футер -->
<footer class="footer">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-4">
                <div class="footer-brand">
                    <img src="~/logo-white.svg" width="300"/>
                </div>
                <p class="footer-text">
                    Специализированная платформа для поиска работы и сотрудников в агропромышленном комплексе. Сезонные и постоянные вакансии по всей России.
                </p>
            </div>
            <div class="col-lg-2 col-md-4">
                <h5>Работодателям</h5>
                <ul class="footer-links">
                    <li><a href="#">Разместить вакансию</a></li>
                    <li><a href="#">Поиск резюме</a></li>
                    <li><a href="#">Тарифы</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4">
                <h5>Соискателям</h5>
                <ul class="footer-links">
                    <li><a href="#">Создать резюме</a></li>
                    <li><a href="#">Вакансии</a></li>
                    <li><a href="#">Карьерный центр</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-4">
                <h5>Связаться с нами</h5>
               @*  <div class="social-links">
                    <a href="#"><i class="bi bi-telegram"></i></a>
                    <a href="#"><i class="bi bi-vk"></i></a>
                    <a href="#"><i class="bi bi-youtube"></i></a>
                </div> *@
                <p class="footer-text mt-3">
                    <i class="bi bi-envelope me-2"></i>
                    <a href="mailto:datasprint@mail.ru" class="text-decoration-none text-white">
                        datasprint@mail.ru
                    </a><br>
                    Свяжитесь с нами по вопросам партнёрства/технической поддержки
                    @* <i class="bi bi-telephone me-2"></i>8 (800) 123-45-67 *@
                </p>
            </div>
        </div>
        <div class="copyright">
            © 2026 Агрокадры.рф Все права защищены.
        </div>
    </div>
</footer>