<!-- Хедер / Навигация -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
	<div class="container">
		<a class="navbar-brand" href="/">

			<img src="~/logo.svg" width="300">

			@* <i class="bi bi-tree-fill" style="color: var(--primary); margin-right: 8px;"></i> *@
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto align-items-center">
				<li class="nav-item">
					<a class="nav-link" href="#">Работодателям</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Соискателям</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/vacancies">Все вакансии</a>
				</li>
				<li class="nav-item ms-lg-3">
					
					<partial name="_LoginPartial" />

				</li>
			</ul>
		</div>
	</div>
</nav>