@page
@model IndexModel
@{
	ViewData["Title"] = "Профиль";
	ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<div>
	<form id="profile-form" method="post">
		<div asp-validation-summary="ModelOnly" class="text-danger small mb-3"></div>
        
		<div class="form-floating mb-3">
			<input asp-for="Username" class="form-control" placeholder="Имя пользователя" disabled />
			<label asp-for="Username" class="form-label">Имя пользователя</label>
		</div>
        
		<div class="form-floating mb-4">
			<input asp-for="Input.PhoneNumber" class="form-control" placeholder="Телефон" />
			<label asp-for="Input.PhoneNumber" class="form-label">Телефон</label>
			<span asp-validation-for="Input.PhoneNumber" class="text-danger small"></span>
		</div>
        
		<div class="d-grid">
			<button type="submit" class="btn btn-primary py-2">Сохранить</button>
		</div>
	</form>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}